extends layout

block content
  h1= title
  p Welcome to #{title}
  form(action="/upload", method="post", enctype="multipart/form-data")
     input(type="file", name="image")
     input(type='submit', value='submit')
