extends layout

block content
  h1= title
  p Viewing #{date.getFullYear()}-#{date.getMonth()}-#{date.getDate()}
  each image in images
    a(href='/upload/'+image)
       img(src='/thumbnail/'+image width=100 height=100 border=5)
  p
  a(href='/view/'+prev) Previous Day
  &nbsp;
  a(href='/view/'+next) Next Day
